#cart{
    color: var(--cor-texto);
}

.cart-items-wrapper{
    width: 70%;
    padding: var(--padding-geral);    
}

.cart-finish-wrapper{
    width: 30%;
    border-radius: var(--border-radius);
    padding: var(--padding-geral);  
    display: flex;
    flex-direction: column; 
}
.price-cart-finish{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--cor-destaque);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    justify-content: end;
}
.cart-finish-buttons-wrapper{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
}
.cart-finish-buttons-wrapper button{
    width: 50%;    
}

