:root{
    --cor-destaque: #03A4FF;
    --vermelho: #f44e3f;
    --cor-texto: #242424;
    --cor-texto-escuro: #242424;
    --cor-texto-claro: #fff;
    --padding-geral: 20px;
    --border-radius: 1rem;
    --box-shadow: 3px 3px 25px #ccc;
    --title-size: 2.4rem;
    --title-weight: 1000;
    --cor-background: #f8f8f8;
    --cor-card: #fff;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%; /* 10px */
    background-color: var(--cor-background);
}
body, input, textarea, button{
    font-size: clamp(1.2rem, 1.6rem, 2vw);
    font-family: 'Nunito', 'Poppins', sans-serif;
}
.container{
    margin: 0;
    padding: var(--padding-geral);
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.title{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--cor-texto);
}
.title-destaque{
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--cor-destaque);
}
.text{
    font-size: 1.5rem;
    color: var(--cor-texto);
    font-weight: 700;
}


.card{
    border-radius: var(--border-radius);
    background-color: var(--cor-card);
    color: var(--cor-texto);
}
.card-shadow{
    box-shadow: var(--box-shadow);
}


.btn{
    padding: 1rem 1.5rem;
    border-radius: var(--border-radius);
    color: #fff;
    font-weight: 1000;
    font-size: 1.4rem;
    cursor: pointer;
}
.button-primary{
    background-color: var(--cor-destaque) !important;
}
.button-secondary{
    background-color: var(--cor-texto);
    color: var(--cor-texto-claro);
}


a{
    all: unset;
}