#home header{
    background-color: #808080;
    color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#home header div.icons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#home header div.icons-wrapper svg{
    font-size: 3.5rem;
    cursor: pointer;
}