.product-item{
    height: 30rem;
    width: 30rem;
    box-shadow: 3px 3px 25px #ccc;
    border-radius: var(--border-radius);
    color: var(--cor-texto);
}
.product-item:hover{
    transform: scale(1.01);
}

.product-image{
    margin: 0;
    padding: 0;
    height: 15rem;
    background-color: var(--cor-clara);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.product-description{
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: 15rem;
}
.product-name{
    font-weight: 1000;
}
.product-price{
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 1000;
    color: var(--cor-destaque);
}